<!DOCTYPE html>
<html>
    <head>
        <?php partial('head', array('title' => 'Ausgaben')) ?>
    </head>
    <body>
        <header>
            <?php module('Logo') ?>
            <?php module('Search') ?>
            <?php module('User') ?>
        </header>
        <section class="bd">
            <section class="bd-left">
                <?php module('Navigation') ?>
            </section>
            <section class="bd-main">
                <?php module('Filter', 'expenses') ?>
                <?php module('ExpenseList') ?>
                <?php module('Modal', 'expenses') ?>
            </section>
            <aside class="bd-sidebar">
                <?php module('Action', 'expenses') ?>
                <?php module('ExpenseStatistics') ?>
            </aside>
        </section>
        <?php partial('foot') ?>
    </body>
</html>